
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Wallpoet&display=swap');


* {
  margin: 0;
  padding: 0;
}

main {
  display: block;
  position: absolute;
}

/*
  @Lavanya Startscreen elemente
*/
#startButton {
  background-color: rgb(243, 152, 152); 
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  width: 60%;
  height: 40%;
  border: 0;
  border-radius: 20px;
  color: white;
  font-size: 150px;
  margin-bottom: 40%;
}

#startButton:hover {
  background-color: #d30909;
  color: white;
}

#nameInput{
  background-color: rgb(106, 85, 141); 
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  width: 60%;
  height: 10%;
  margin-bottom: 40%;
  border: 0;
  border-radius: 20px;
  color: white;
  font-size: 60px;
}

/*
  @Lavanya Startscreen elemente bis hier
*/


/* Superpoong 3fachTitel*/

h1 {
  text-align: center;
  font-weight: 400;
}

.titlewrapper {
  /*position: relative;*/
  margin-left: 50px;
}

.title {
  z-index: 1;
  position: absolute;
  font-family: 'Wallpoet', cursive;
  /* mix-blend-mode: hard-light; */
}

.text1 {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.text2 {
  margin-top: 25px;
  color: rgba(199, 146, 217, 1);
}

.text3 {
  margin-top: 28px;
  color: rgba(147, 185, 103, 0.7);
}
  
.users {
  position: relative;
}



