
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Wallpoet&display=swap');


:root{
  --white: #fff;
  --lightgray: #9B9C9B; 
  --darkgray: #212320;
  --darkbg: #212220;
  --green: #769355;
  --darkpink: #C792D9;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Saira';
  user-select: none;
}

body {
  overflow-x: hidden;
  background-color: var(--lightgray);
}

main {
  display: block;
  position: absolute;
  z-index: -1;
}

/* Start Screen */
#start-button {
  font-family: 'Saira';
  font-style:italic;
  font-weight: bold;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border: 0;
  color: var(--darkgray);
  background-color: var(--lightgray);  
  text-align: center;
  border-radius: 50%;
  font-size: 1.75rem;
  user-select: none;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

#start-button:hover {
  background-color: var(--green);
  width: 11rem;
  height: 11rem;
  color: white;
}

#start-button:hover::before {
  width: 13rem;
  height: 13rem;
}

#start-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 11rem;
  height: 11rem;
  border: dashed var(--green) 1px;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

#start-button::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14rem;
  height: 14rem;
  border: solid var(--darkpink) 1px;
  border-style: solid; 
  border-radius: 50%;
  transition: width 0.5s 0.1s, height 0.5s 0.1s;
}

#start-button:hover::after {
  width: 16rem;
  height: 16rem;
}

.title-wrapper {
  position: absolute;
  text-align: center;
}

.title {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Wallpoet';
  font-weight: 400;
  font-size: 4rem;
  z-index: 1;
}

.text1 {
margin-top: -4px;
  color: #9B9C9BBD;
}
.text2 {
margin-left: 3px;
  color: #76935578;
}
.text3 {
margin-top: 2px;
  color: #c792d980;
}

.text {
  font-family: 'Wallpoet';

}

.press-space {
  position: absolute;
  top: 540px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--lightgray);
  font-family: 'Saira';
  font-style: italic;
  text-align: center;
}


/* Enter Name Screen */
.enter-name-text {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--lightgray);
  font-family: 'Saira';
  font-style: italic;
}

#name-input{
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9b9c9b80;
  color: white;
  font-family: 'Wallpoet';
  text-align: center;
  width: 12rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
}

#name-input:focus {
  outline: solid 1px var(--green);
}

#start-game-button {
  font-family: 'Saira';
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 4rem;
  border: 0;
  color: var(--darkgray);
  background-color: var(--lightgray);
  text-align: center;
  border-radius: 2rem;
  font-size: 1.75rem;
  user-select: none;
  cursor: pointer;
}

#start-game-button:hover {
  background-color: var(--green);
  color: white;
}

/* Tutorial Screen */
.tut-text {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  color: var(--lightgray);
  font-family: 'Wallpoet';
  font-size: 2rem;
  text-align: center;
}

.tut-container {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border: solid 1px var(--lightgray);
  border-radius: 20px;
}


.tut-paddle {
  height: 20px;
  width: 80px;
  border-radius:10px 10px 5px 5px;
  background-color:var(--lightgray);
  position: absolute;
  
  /* Positioning for animation*/
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tut-ball {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--lightgray);
  position: absolute;

  /* Positioning for animation*/
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tut-ball-gray {
  background-color: var(--lightgray);
}
.tut-ball-green {
  background-color: var(--green);
}
.tut-ball-red {
  background-color: var(--darkpink);
}

.tut-paddle-anim1 {
  animation: tut-paddle1 2s ease-in-out infinite alternate-reverse;
}

@keyframes tut-paddle1 {
  from {
    left: calc(50% + 100px);
  }
  to {
    left: calc(50% - 100px);
  }
}

/* animation grüner Ball */
.tut-ball-anim1 {
 animation: tut-ball1 ;
}



@keyframes .tut-ball-anim1 {
  0% {
    transform: translatex(0px) translatey(0px)
  }
  100% {
    transform: translatex(100px) translatey(100px);
  }
}


/* Game Screen */
.users {
  position: relative;
  left: 5%;
  color: var(--white);
  opacity: 0.25;

}

.timer {
  position: absolute;
  font-family: 'Saira';
  font-size: 3rem;
  color: var(--white);
  opacity: 0.25;
}